* {
    margin: 0px;
   
    font-family: 'inter';
}

#logo{
    margin-left: 50px;
    margin-top: 50px;
}

#titulo-menusup{
    margin-left: 150px;
    margin-top: 75px;
}

#texto-menusup{
    margin-left: 150px;
    margin-top: 25px;
    padding-bottom: 100px;
}

#menusuperior{
    background-image: url(imagens/fundomenu.svg);
    color: aliceblue;
}

#menu-informacional{
    background-color: #EAECE5;
}
